<div class="top">
  <i class="uil uil-bars sidebar-toggle"></i>

  <div class="search-box">
    <i class="uil uil-search"></i>
    <input type="text" placeholder="Search here..." />
  </div>

  <!-- Project Layout -->

  <div class="half">
    <label for="profile2" class="profile-dropdown">
      <input type="checkbox" id="profile2" />

      <span>John Doe</span>
      <img
        src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_hipster_guy-512.png"
      />
      <ul>
        <li>
          <a href="#"><i class="mdi mdi-account"></i>Account</a>
        </li>
        <li>
          <a href="#"><i class="mdi mdi-settings"></i>Settings</a>
        </li>
        <li>
          <a href="#"><i class="mdi mdi-logout"></i>Logout</a>
        </li>
      </ul>
    </label>
  </div>

  <!-- Template layout -->

  <div class="background"></div>
</div>