<div class="overview">
  <div class="title">
    <i class="uil uil-tachometer-fast-alt"></i>
    <span class="text">Dashboard</span>
  </div>

  <div class="boxes">
    <div class="box box1">
      <i class="uil uil-stethoscope"></i>
      <span class="text">Doctors</span>
      <span class="number">50,120</span>
    </div>
    <div class="box box2">
      <i class="uil uil-user-nurse"></i>
      <span class="text">Receptionists</span>
      <span class="number">20,120</span>
    </div>
    <div class="box box3">
      <i class="uil uil-bed"></i>
      <span class="text">Patients</span>
      <span class="number">10,120</span>
    </div>
    <div class="box box4">
      <i class="uil uil-schedule"></i>
      <span class="text">Appoinments</span>
      <span class="number">10,120</span>
    </div>
  </div>
</div>